:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body {
  margin: 0;
  display: grid;
  min-height: 100vh;
  grid-template-rows: min-content 1fr;
  justify-items: stretch;
}

nav {
  button {
    border: none;
    background: transparent;
    cursor: pointer;
  }

  li:not(:has(ul)) {
    text-decoration: line-through;
  }

  li[data-scene] {
    cursor: pointer;
    text-decoration: underline;
  }

  ul {
    padding-left: 20px;
  }
}

#global-header {
  display: flex;
  align-items: baseline;
  gap: 20px;
  background: black;
  color: #eee;
  padding: 0 20px;
}

main {
  background-color: #ddd;
  max-width: 1440px;
  padding: 20px;
  gap: 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr;
}

.scene-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;

  .controls {
    background-color: #eee;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;

    li {
      padding: 20px;
      gap: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;

      label {
        font-weight: bold;
      }
    }
  }

  .sources {
    flex-grow: 1;
    background-color: #eee;

    header.tabs ul {
      display: flex;
      border-bottom: 1px solid #333;
      list-style-type: none;
      flex-direction: row;
      border-collapse: collapse;
      padding: 0;
      margin: 0;

      li {
        border: 1px solid #333;
        background-color: #ddd;
        border-right: none;
        border-bottom: none;
        padding: 20px;
        cursor: pointer;

        &.active {
          background-color: #eee;
        }

        &:last-child {
          border-right: 1px solid #333;
        }
      }
    }

    .source-code {
      padding: 20px;
      white-space: pre;
      font-family: monospace;
    }
  }
}
